---
import { normalizeClass } from '@/utils/normalizeClass'
import classNames from 'classnames'
import { twMerge } from 'tailwind-merge'

export interface Props {
  className?: string
}

const { className } = Astro.props
---

<div
  class={twMerge(
    classNames(
      'text-black',
      'text-3xl',
      'font-yusei',
      'flex',
      'flex-col',
      'm-auto',
      'text-left',
      'gap-2'
    ),
    normalizeClass(className)
  )}
>
  <p>Any% - Rust</p>
  <p>PC - 2023</p>
</div>
