---
import classNames from 'classnames'
import { twMerge } from 'tailwind-merge'

export interface Props {
  className?: string
}

const { className } = Astro.props
const formattedClassName = className
  ?.split(' ')
  .filter(name => !name.startsWith('astro-'))
  .join(' ')

const baseClass = classNames('wrap', 'grid', 'place-items-center')
const mergedClass = twMerge(baseClass, formattedClassName)
---

<main class={mergedClass}>
  <p
    class={classNames(
      'bg-mint_green',
      'rounded-t',
      'font-yusei',
      'text-4xl',
      'p-4'
    )}
  >
    配信画面
  </p>
</main>

<style>
  .wrap {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: auto;
    max-height: 100%;
    border: 4px solid #d8829d;

    background-size: auto auto;
    background-color: transparent;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 31px,
      #d8829d 31px,
      #d8829d 35px
    );
  }
</style>
