---
import classNames from 'classnames'
import { twMerge } from 'tailwind-merge'

export interface Props {
  className?: string
}

const { className } = Astro.props
const formattedClassName = className
  ?.split(' ')
  .filter(name => !name.startsWith('astro-'))
  .join(' ')
---

<main
  class={twMerge(
    classNames(
      'grid',
      'place-items-center',
      'stripe-puce',
      'aspect-video',
      'w-full',
      'm-auto',
      'min-h-full',
      'border-4',
      'border-puce'
    ),
    formattedClassName
  )}
>
  <p
    class={classNames(
      'bg-mint_green',
      'rounded-t',
      'font-yusei',
      'text-4xl',
      'p-4'
    )}
  >
    配信画面
  </p>
</main>
