---
import { normalizeClass } from '@/utils/normalizeClass'
import classNames from 'classnames'
import { twMerge } from 'tailwind-merge'

export interface Props {
  className?: string
}

const { className } = Astro.props
---

<h1
  class={twMerge(
    classNames(
      'text-5xl',
      'font-bold',
      'text-center',
      'text-black',
      'font-yusei',
      'flex',
      'items-center',
      'justify-center',
      'tracking-wider',

      'border-black',
      'border-x-8',
      'mr-4',
      'p-4',
      'px-8'
    ),
    normalizeClass(className)
  )}
>
  BOT 作成
</h1>
